<!DOCTYPE html>
<html>

  {{> "head"}}

  <body>
    {{> "graphic-strip"}}
    <div class="site-wrapper">
      {{> "header"}}
      <div class="main"> 
      {{{body}}}
      </div>
      {{> "footer"}}    
    </div>
  </body>
</html>
