{{!< default}}
<div class="contact-page section-padding">
  <div class="post">
    <h1>Contact</h1>
      <div class="contact-links">
      <h4><a class="fa fa-lg fa-envelope-o" href="mailto:eric@keepit137.com" target="_blank"> hagemann.eric@gmail.com</a></h4>
          <h4><a class="fa fa-lg fa-twitter" href="{{twitter_url}}" target="_blank"> @ehagemann</a></h4>
      <h4><a class="fa fa-lg fa-instagram" href="https://www.instagram.com/erichagemann" target="_blank"> @erichagemann</a></h4>
    </div>
  </div>
</div>
