{{!< default}}
<div class="contact-page section-padding">
  <div class="post">
    <h1>Contact</h1>
      <div class="contact-links">
        <h4><a href="mailto:hagemann.eric@gmail.com" target="_blank"><i class="fa fa-lg fa-envelope-o"></i>hagemann.eric@gmail.com</a></h4>
        <h4><a href="{{twitter_url}}" target="_blank"><i class="fa fa-lg fa-twitter"></i>@ehagemann</a></h4>
        <h4><a href="https://www.instagram.com/erichagemann" target="_blank"><i class="fa fa-lg fa-instagram"></i>@erichagemann</a></h4>
      </div>

  </div>
</div>
  <section class="section-padding bg-white">
    <div class="container">
      <div class="subscribe-container">
        <h2>Get notified</h2>
        <p>If you'd like to receive a short weekly update, please fill out your email below. No spam, no daily pestering, no selling. I don't roll like that.</p>
        <div class="email-sign-up"> 
        {{> "email-signup"}}
        </div>
      </div>
    </div>
  </section>
{{> "footer-page"}}


