{{!< default}}
<div class="contact-page section-padding">
  <div class="post">
    <h1>About</h1>
<img class="img-right-40 img-circle" src="/assets/images/eric-profile.png">
        <p>I was born and raised in the small New England town of Brunswick, Maine. But in 2003, at age 16, left my home (with Mom's blessing) and moved north to Ontario, Canada to pursue my dreams of professional hockey. After three seasons and little progress, I decided it was time to move on from the game and I set my sights on an education.</p>

        <p>In 2007, I graduated from the University of Waterloo (Waterloo, Ontario, Canada) with a degree in Honours Kinesiology. From there, I went on to study motor learning and skill acquisition in the Faculty of Medicine at the University of Toronto, and graduated with a Master's in Rehabilitation Science in 2009.</p>

        <p>In addition to my interests in skill development, it was at this time that I was developing another passion for athletic performance, physical development, and teaching. So after graduation, I decided that rather than pursuing a PhD and a career in academia, I would throw myself into the world of coaching. </p>

        <p>My first experience as a coach was in early 2009 where I worked as a Hockey Director in Nashville, Tennessee. During my year and a half in that position, I was a coach on three separate hockey teams, gave private on-ice lessons to young players, and began working with several athletes as their strength and conditioning coach.</p>

        <p>Then in 2010, I became a Certified Strength and Conditioning Specialist through the NSCA, and moved back to Canada to take the job as Head Strength and Conditioning Coach at Next Level Performance Training in Cambridge, Ontario.</p>

        <p>Today, I continue to work at NLPT and am currently serving as Director of Training. My main responsibilities include overseeing the program design philosophy, developing overall business strategy, content creation and managing the coaching staff.</p>

        <p>In 2016, I decided to tackle my lifelong fear and embarrassment of distance running by challenging myself to run for <a href="/the-keep-it-137-challenge-start-here">137 continuous days</a>. Over that time, I slowly got bit by the endurance bug and will continue to post training thoughts and updates here on this site.</p>

        <p>I've got some <a href="/a-new-challenge-50-miles/">bold and ambitious plans</a> for 2017 and am excited to embark on this new athletic journey.</p>

        <p>I love designing websites for my friends, <a href="https://www.instagram.com/p/BK30WTAjKF3/?taken-by=erichagemann" target="_blank">dogs</a>, reading, <a href="https://www.instagram.com/p/uCqCtgmtYy/?taken-by=erichagemann" target="_blank">good wine</a>, and of course, <a href="https://www.instagram.com/p/BA56cscmtSa/?taken-by=erichagemann" target="_blank">Chanelle</a>.</p>

        <p>Thanks for stopping by, and feel free to <a href="/contact">drop me a line</a> if you'd like to get in touch.</p>

  </div>
</div>
